{% extends 'base.html' %}

{% block head %}
{% endblock %}



{% block body %}
<div class="content">
    <div id="text_content">
        <h1>About Eddi</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit deleniti ex molestiae neque, dolores
            officiis commodi temporibus inventore odio sequi quos, eum error, accusamus reiciendis expedita ut mollitia
            architecto id!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit deleniti ex molestiae neque, dolores
            officiis commodi temporibus inventore odio sequi quos, eum error, accusamus reiciendis expedita ut mollitia
            architecto id!</p>
    </div>
</div>
{% endblock %}