{% extends 'base.html' %}

{% block head %}
{% endblock %}



{% block body %}
<main>
    <div id="account-page">
        <h1>Account Page {{ error }}</h1>
        <ul id="account-saved-documents">
            <!-- <li class="doc-item"><a href={{ url_for('editor', room='newRoomAccountCall') }}>Create New</a></li> -->
            {% for doc in docs %}
            <li class="doc-item"><a href={{ url_for('editor', room=doc.id) }}>{{ doc.id }}</a></li>
            {% endfor %}
        </ul>
    </div>
</main>
<script>
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const uuid = urlParams.get('uuid')
    if (uuid != null) {
        sessionStorage.setItem('UID', uuid);
    }
    console.log("[Client] UUID: " + sessionStorage.getItem('UID'));
</script>
{% endblock %}