<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"
        integrity="sha512-AcZyhRP/tbAEsXCCGlziPun5iFvcSUpEz2jKkx0blkYKbxU81F+iq8FURwPn1sYFeksJ+sDDrI5XujsqSobWdQ=="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="{{ url_for('static', filename='js/init.js') }}" type="text/javascript" charset="utf-8"></script>
    {% block head %}{% endblock %}
</head>

<body>
    <header>
        <nav>
            <h1><a href="{{ url_for('editor') }}">Eddi</a></h1>
            {% if session['logged_in'] == True %}
            <ul>
                <li>
                    <a href="{{ url_for('account') }}">Account</a>
                </li>
                <li>
                    <a href="{{ url_for('logout') }}">Log out</a>
                </li>
            </ul>
            {% else %}
            <ul>
                <li>
                    <a href="{{ url_for('login') }}">Login</a>
                </li>
                <li>
                    <a href="{{ url_for('signup') }}">Sign up</a>
                </li>
            </ul>
            {% endif %}
        </nav>
        {% block controls %}{% endblock %}
    </header>
    {% block body %}{% endblock %}
</body>

</html>