{% extends 'base.html' %}

{% block head %}
{% endblock %}



{% block body %}
<div class="content">
    <div id="hero">
        <h1>The Browser<span class="blinking-cursor" id="cursor-2">|</span> Based Real-Time Co-Editor<span
                class="blinking-cursor" id="cursor-1">|</span></h1>
        <ul>
            <li class="account-btn">
                <a href="{{ url_for('login') }}">Log<span class="blinking-cursor" id="cursor-3">|</span>in</a>
            </li>
            <li class="account-btn">
                <a href="{{ url_for('signup') }}">Sign up</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}