{% extends 'base.html' %}

{% block head %}
{% endblock %}



{% block body %}
<main>
    <form class="form-custom" id="form-login" method="POST" action="/login">
        <h2 class="form-custom-heading">Please Login</h2>
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <!-- {{ form.username.label }} -->
        {{ form.username }}
        <!-- {{ form.password.label }} -->
        {{ form.password }}
        <!-- {{ form.remember }} -->
        <!-- {{ form.remember.label }} -->
        <button class="form-custom-button" type="submit">Log in</button>
    </form>
</main>
{% endblock %}