{% extends 'base.html' %}

{% block head %}

{% endblock %}



{% block body %}
<main>
    <form class="form-custom" id="form-signup" method="POST" action="/signup">
        <h2 class="form-custom-heading">Please Signup</h2>
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <!-- {{ form.username.label }} -->
        {{ form.username }}
        <!-- {{ form.email.label }} -->
        {{ form.email }}
        <!-- {{ form.password.label }} -->
        {{ form.password }}
        <!-- {{ form.confirm_password.label }} -->
        {{ form.confirm_password }}
        <button class="form-custom-button" type="submit">Sign up</button>
    </form>
</main>
{% endblock %}