{% extends 'base.html' %}

{% block head %}
{% endblock %}



{% block body %}
<div class="content">
    <h1>Flask SocketIO Test </h1>
    <ul id="messages"></ul>
    <input type="text" id="myMessage">
    <button id="sendButton">Send</button>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script type="text/javascript" charset="utf-8">
    const io = require('socket.io');
    const socket = io('https://paulpirieflaskapp.herokuapp.com');

    // const socket = io('http://127.0.0.1:5000', {
    //     transports: ['websocket']
    // });

    socket.on('reconnect_attempt', function () {
        socket.io.opts.transports = ['polling', 'websocket'];
        console.log("Reconnection Attempt");
    });

    socket.on('connect', function () {
        socket.send('User has connected!');
        console.log("Connected");
    });

    socket.on('message', function (msg) {
        li_ele = document.createElement("li");
        text_ele = document.createTextNode(msg);
        li_ele.appendChild(text_ele)
        document.querySelector('#messages').appendChild(li_ele);
        console.log("Recieved Message");
    });

    document.querySelector('#sendButton').addEventListener('click', function () {
        socket.send(document.querySelector('#myMessage').value);
        document.querySelector('#myMessage').value = " ";
        console.log("Clicked!")
    });
</script>
{% endblock %}